<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <th:block th:replace="~{members/common-styles :: memberStyles}"></th:block>
</head>

<div layout:fragment="content" class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body p-5 text-center">
                    <h2 class="mb-4">Password Find Results</h2>
                    <div class="alert alert-success mb-4" role="alert">
                        <h4 class="alert-heading mb-3">Temporary Password Sent!</h4>
                        <p class="mb-1">A temporary password has been sent to your registered email address.</p>
                        <p class="mb-0">Please change your password after logging in.</p>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <button class="btn btn-dark w-100 nav-btn"
                                    th:onclick="|location.href='@{/members}'|"
                                    type="button">Login</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-dark w-100 nav-btn"
                                    th:onclick="|location.href='@{/}'|"
                                    type="button">Main Page</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>